<h1><%= link_to "Job ##{@job.id}", root_url %> is <%= @job.status.humanize %>.</h1>

<% if @job.done? %>
  <p>
    Download links:
    <ul>
      <li><%= link_to "zaradotcom-th.json", download_job_url(@job) %></li>
      <li><%= link_to "zaradotcom-th-without-price.json", download_other_job_url(@job) %></li>
    </ul>
  </p>
<% end %>
